.git
.gitignore
**/*.log
**/*.tmp
**/tmp
**/bin
**/dist
**/node_modules
**/.idea
**/.vscode
**/.DS_Store
uploads
collected1.txt
collected2.txt
collected3.txt
diplomaflow_deploy
diplomaflow_deploy.pub
